<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">Recyzone</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">

                <ul class="nav navbar-nav">
                {% if app.user != null %}
                    {% if app.user.role.name == "Employé" %}
                        <li class="{% if app.request.attributes.get('_route') == 'addHousehold' %}active{% endif %}"><a href="./addHousehold">Add Household</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'makeDeposit' %}active{% endif %}"><a href="./makeDeposit">Add Deposit</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'depositsHistory' %}active{% endif %}"><a href="./depositsHistory">Deposits History</a></li>
                    {% elseif app.user.role.name == "Gérant" %}
                        <li class="{% if app.request.attributes.get('_route') == 'statistiques' %}active{% endif %}"><a href="./statistiques">Statistics</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'occupations' %}active{% endif %}"><a href="./occupations">Occupations</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'manage' %}active{% endif %}"><a href="./manage">Manage Users</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'depositsHistory' %}active{% endif %}"><a href="./depositsHistory">Deposits History</a></li>
                    {% elseif app.user.role.name == "Ménage" %}
                        <li class="{% if app.request.attributes.get('_route') == 'factures' %}active{% endif %}"><a href="./factures">Bills</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'deposits' %}active{% endif %}"><a href="./deposits">Deposits History</a></li>
                    {% elseif app.user.role.name == "CEO" %}
                        <li class="{% if app.request.attributes.get('_route') == 'statistiques' %}active{% endif %}"><a href="./statistiques">Statistics</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'manage' %}active{% endif %}"><a href="./manage">Manage Users</a></li>
                    {% endif %}
                {% endif %}

                </ul>

                <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="#">{{ app.user.firstName }} {{ app.user.lastName}} ({{ 'now'|date('d-m-Y') }})</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        {% endif %}
                </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
</body>
</html>

