{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center">Ajouter un ménage</h1>
    <br>

        {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

        <div class="form-group">
            {{ form_label(form.firstname,null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
            <div class="col-sm-10">
                {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.lastName,null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
            <div class="col-sm-10">
                {{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email,null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
            <div class="col-sm-10">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.numberOfAdult,null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
            <div class="col-sm-4">
                {{ form_widget(form.numberOfAdult, { 'attr': {'class': 'form-control'} }) }}
            </div>

            {{ form_label(form.numberOfChild,null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
            <div class="col-sm-4">
                {{ form_widget(form.numberOfChild, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

    <hr>

        <div class="form-group">
            {{ form_label(form.commune,null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
            <div class="col-sm-10">
                {{ form_widget(form.commune, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.city,null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
            <div class="col-sm-10">
                {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.streetName,null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
            <div class="col-sm-10">
                {{ form_widget(form.streetName, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.houseNumber,null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
            <div class="col-sm-4">
                {{ form_widget(form.houseNumber, { 'attr': {'class': 'form-control'} }) }}
            </div>

            {{ form_label(form.houseBox,null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
            <div class="col-sm-4">
                {{ form_widget(form.houseBox, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_widget(form.save, { 'attr': {'class': 'btn btn-default pull-right'} }) }}
            </div>
        </div>

    {{ form_end(form) }}

<script>
    var listSelect = [];

    $(document).ready(function() {
        listSelect = [];
        //loadSelectOptions();
    });

    $("#form_commune").change(function() {
        listSelect = [];
        //loadSelectOptions();
    });

    $(document).ajaxStop(function () {
        $('#form_city').find('option').remove();
        Object.keys(listSelect).forEach(function(element){
            $('#form_city').append($("<option></option>")
                                        .attr("value",element)
                                        .text(listSelect[element]));
        });
    });

    String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }

    function loadSelectOptions(){
        $.ajax({
            type: 'GET',
            url: 'http://geoservices.wallonie.be/geolocalisation/rest/searchCommunes/' + $("#form_commune" ).val()
        }).done(function(msg) {
            var codes = msg['communes'][0]['cps'];
            codes.forEach(function(element) {
                $.ajax({
                    type: 'GET',
                    url: 'http://geoservices.wallonie.be/geolocalisation/rest/getListeLocalitesByCp/' + element
                }).done(function(msg) {
                    msg['localites'].forEach(function(element) {
                        listSelect[element['nom']] = element['cps'][0] + " - " + element['nom'].toLowerCase().capitalize();
                    });
                });
            });
        });
    }

</script>

{% endblock %}
