{% extends 'base.html.twig' %}

{% block body %}

<br>
<br>
<br>

<table id="billTable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Number</th>
            <th>Creation Date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
    {% for bill in bills %}
        <tr>
            <td>{{ bill.id }}</td>
            <td>{{ bill.creationDate|date("d F Y") }}</td>
            <td>{{ bill.amount }} &euro;</td>
            <td>{{ bill.status }}</td>
            {% if (bill.status == "Payé") %}
                <td>-</td>
            {% else %}
                <td>{{ bill.endingDate|date("d F Y") }}</td>
            {% endif %}
            <td>
                <i class="fa fa-th-list" aria-hidden="true" role="button" onclick="seeDetails({{ bill|json_encode() }})"
                   data-toggle="tooltip" data-placement="right" title="See bill details n°{{ bill.id }}"> </i>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="row">
    <div hidden id="alertSuccess" class="alert alert-success alert-dismissible text-center" role="alert">
    </div>
    <div hidden id="alertError" class="alert alert-danger text-center" role="alert">
    </div>
    <div hidden id="alertWarning" class="alert alert-warning text-center" role="alert">
    </div>
</div>


<div id="modalDetails" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-title">Details bill n°<span id="id"></span> du <span id="creationDate"></span></h4>
            </div>
            <div class="modal-body">
                <p>Statut : <span id="status"></span></p>
                <table class="table table-striped table-hover text-center">
                    <thead>
                    <tr>
                        <th class="text-center">Type</th>
                        <th class="text-center">Waste Type</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Amount</th>
                    </tr>
                    </thead>
                    <tbody id="bodyDepositsTable">
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total : <span id="amount"></span> &euro;</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>


    $( document ).ready(function() {
        $('#billTable').DataTable();
    });

    function seeDetails(bill){
        $('#id').text(bill['id']);
        $('#creationDate').text(new Date(bill['creationDate']['date']).toLocaleDateString());
        $('#status').text(bill['status']);
        $('#amount').text(bill['amount']);

        $('#alertWarning').text('Wait...');
        $('#alertWarning').slideUp(300).fadeIn(400).delay(2500).fadeOut();

        $.ajax({
            url: "./billdetails/"+bill.id,
            method: "get",
        }).done(function(msg){

            var tbody = '';

            $.each(JSON.parse(msg['data']), function(i, item){
                var quantity = 0;
                var wasteType = '';
                console.log(item);

                $.each(item.deposits,function(j,deposit){
                    quantity += deposit.quantity;
                    console.log(deposit);
                    wasteType = deposit.waste_type.name;
                });

                tbody +=  "<tr class='text-center'> \
                        <td>Variable</td> \
                        <td>" + wasteType + "</td> \
                        <td>" + quantity +  "m&sup3;</td> \
                        <td>" + item.variable + " &euro;</td> \
                    </tr>";

                tbody +=  "<tr class='text-center'> \
                        <td>Forfait</td> \
                        <td>" + wasteType + "</td> \
                        <td> - </td> \
                        <td>" + item.forfait + " &euro;</td> \
                    </tr>";

                if(tbody===''){
                    tbody += '<tr class="text-center"><td colspan="4">No details for this bill !</td></tr>';
                }
            });
            $('#bodyDepositsTable').html(tbody);
            $('#modalDetails').modal('show');
        });
    }
</script>

{% endblock %}