{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h1>Vos données</h1>
        <br>
        <p>{{ user.lastName }} {{ user.firstName }} ({{ user.email }})</p>
        <p>{{ user.houseNumber }} {{ user.streetName }} - xxxx {{ user.city }}</p>
        <p>Composition de ménage : {{ user.numberOfAdult }} adultes - {{ user.numberOfChild }} enfants</p>
        <p>Coefficient de correction : {{ user.correctionCoeff }}%</p>
    </div>

    <br>
    <hr>
    <br>

    <div class="row">
        <h1>Vos quotas actuels</h1>
        <br>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Type de déchet</th>
                <th>Volume déposé</th>
                <th>Volume autorisé</th>
                <th>Reste</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Test</td>
                <td>0 m3</td>
                <td>10 m3</td>
                <td>10 m3</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>0 m3</td>
                <td>10 m3</td>
                <td>10 m3</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>0 m3</td>
                <td>10 m3</td>
                <td>10 m3</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
