{% extends 'base.html.twig' %}

{% block body %}


    <br>
    <br>

    <table id="containerTable" class="table table-striped table-hover text-center">
        <thead>
        <tr>
            <th class="text-center">Parc</th>
            <th class="text-center">Conteneur</th>
            <th class="text-center">Type de déchets</th>
            <th class="text-center">Volume</th>
            <th class="text-center">Remplissage</th>
            <th class="text-center">Selectionner</th>
        </tr>
        </thead>
        <tbody>
        {% if containers %}
            {% for container in containers %}
                <tr>
                    <td>{{ container.park.FullAdress }}</td>
                    <td>{{ container.id }}</td>
                    <td>{{ container.wasteType.name }}</td>
                    <td>{{ container.capacity }}</td>
                    <td>{% set percentage = container.usedVolume/container.capacity*100 %} {{ percentage }}%</td>
                    <td><input type="checkbox"></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">Aucun container a afficher</td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" align="center"><button onclick="generateTournee()" class="btn btn-danger pull-right">Générer tournée</button></td>
        </tr>
        </tfoot>
    </table>

    <br>
    <br>
    <button onclick="generateBill()" class="btn btn-block btn-primary pull-right">Générer factures</button>

    <div id="modalBill" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Recyzone - Facturation</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">x factures générées pour un total de y &euro;</p>
                    <hr>
                    <table class="table table-striped table-hover text-center">
                        <thead>
                            <tr>
                                <th class="text-center">Commune</th>
                                <th class="text-center">Ménage</th>
                                <th class="text-center">Montant</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>aaa</td>
                                <td>zzz</td>
                                <td>eee</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        $( document ).ready(function() {
            $('#containerTable').DataTable();
        });

        $('input[type=checkbox]').change(function () {
            $(this).closest('tr').find('td').toggleClass('danger', this.checked);
        });

        function generateTournee(){
            $.ajax({
                url: "/generateTournee",
                method: "get"
            }).done(function(msg){
                console.log(msg);
            });
        }

        function generateBill(){
            $.ajax({
                url: "/generateBills",
                method: "get"
            }).done(function(msg){
                updateModalBillsInfos(msg);
                $('#modalBill').modal('show');
            });
        }

        function updateModalBillsInfos(msg){
            /*var tbody = '';*/
            $.each(JSON.parse(msg['data']), function(i, item){
                /*tbody +=  "<tr role='button' onclick='setSelectedUser(this)' class='text-center'> \
                            <td>" + item.firstName + " " + item.lastName +" </td> \
                            <td>" + item.houseNumber + " " + item.streetName + " - " + "code" + " " + item.city + "</td> \
                            <td>" + item.email + "</td> \
                            <td id='columnUsername'>" + item.username + "</td> \
                            <td id='userId' hidden>" + item.id + "</td>\
                        </tr>";*/
                console.log(item);
            });
/*
            if(tbody===''){
                tbody += '<tr class="text-center"><td colspan=\"4\">Aucun utilisateur correspondant au critère !</td></tr>';
            }

            $('#bodyUsersTable').html(tbody);*/

        }
    </script>


{% endblock %}
